<div class="adoptable">
  <h2>Adoptable <br />Pets</h2>
</div>


<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="name">
          <h1>Ren</h1>
        </div>
        <h4>7 years</h4>
          <%= image_tag 'ren1.jpg', class: 'index-image-size' %>
        <h3>Great personality! Very sassy but sweet. Does great with other cats and kids, no dogs.</h3>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="name">
          <h1>Forest</h1>
        </div>
        <h4>6 months</h4>
        <%= image_tag 'forest.jpg', class: 'index-image-size' %>
        <h3>Super playful, but snuggly when he wears out. Loves to have his belly rubbed.</h3>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="name">
          <h1>Tux</h1>
        </div>
        <h4>6 months</h4>
       <%= image_tag 'Tux.jpg', class: 'index-image-size' %>
      <h3>Super playful. Would do great in a house with young children.</h3>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="name">  
         <h1>Penny</h1>
        </div>
        <h4>4 months</h4>
        <%= image_tag 'Princess.jpg', class: 'index-image-size' %>
        <h3>Very gentle and sweet. Purs constantly.</h3>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="name">
          <h1>Onyx</h1>
        </div>
        <h4>2 months</h4>
        <%= image_tag 'Onyx.jpg', class: 'index-image-size' %>
        <h3>Found alone. A little feral, but he's warming up each day.</h3>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="name">
          <h1>Dot</h1>
        </div>
        <h4>4 months</h4>
        <%= image_tag 'Dot.jpg', class: 'index-image-size' %>
        <h3>Very sweet girl. Total lap cat. Loves attention.</h3>
      </div>
    </div>
  </div>
</div>

<div class="adoptable">
  <h2>Check back, or stop by, to see who is new!</h2>
</div>

<div class="footer">
  <h5>Kitty City Rescue | 7090 N. Oracle Rd, Tucson, AZ 85704 | (520)747-2643 | kittycity@gmail.com | Monday-Friday 9:00AM-5:00PM | Saturday-Sunday 10:00-3:00PM</h5><br />
</div>
