<div class="booyah-box-header">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
      <h2> Welcome to Kitty City Cat Rescue! We are a non-profit cat rescue in Tucson, Arizona. 
      All of our pets are spayed/neurtered, vaccinated, and microchiped.<br /> Come in today to find your new best friend!</h2><br />
      <%= image_tag 'cat3.jpg', class: 'header-image' %><br />
      <h4>7090 N. Oracle Rd, Tucson, AZ 85704</h4>
      <h4>Monday-Friday 9:00AM-5:00PM | Saturday-Sunday 10:00-3:00PM</h4><br />
      </div>
    </div>
  </div>
</div>

<div class="adoptable">
  <h2>Adoptable <br />Pets</h2>
</div>


<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="name">
          Ren
        </div>
        <h4>7 years</h4>
          <%= image_tag 'ren1.jpg', class: 'index-image-size' %>
        <h3>Great personality! Very sassy but sweet. Does great with other cats and kids, no dogs.</h3>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="name">
          Forest
        </div>
        <h4>6 months</h4>
        <%= image_tag 'forest.jpg', class: 'index-image-size' %>
        <h3>Super playful, but snuggly when he wears out. Loves to have his belly rubbed.</h3>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="name">
          Tux
        </div>
        <h4>6 months</h4>
       <%= image_tag 'Tux.jpg', class: 'index-image-size' %>
      <h3>Super playful. Would do great in a house with young children.</h3>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="name">  
         Penny
        </div>
        <h4>4 months</h4>
        <%= image_tag 'Princess.jpg', class: 'index-image-size' %>
        <h3>Very gentle and sweet. Purs constantly.</h3>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="name">
          Onyx
        </div>
        <h4>2 months</h4>
        <%= image_tag 'Onyx.jpg', class: 'index-image-size' %>
        <h3>Found alone. A little feral, but he's warming up each day.</h3>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="name">
          Dot
        </div>
        <h4>4 months</h4>
        <%= image_tag 'Dot.jpg', class: 'index-image-size' %>
        <h3>Very sweet girl. Total lap cat. Loves attention.</h3>
      </div>
    </div>
  </div>
</div>

<div class="adoptable">
  <h2>Check back, or stop by, to see who is new!</h2>
</div>

<div class="footer">
  <h5>Kitty City Rescue | 7090 N. Oracle Rd, Tucson, AZ 85704 | (520)747-2643 | kittycity@gmail.com | Monday-Friday 9:00AM-5:00PM | Saturday-Sunday 10:00-3:00PM</h5><br />
</div>
