<div class="booyah-box">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
      <h1> Welcome to Kitty City! We are a non profit cat rescue in Tucson, Arizona. 
      All of our pets are spayed/neurtered, vaccinated, and microchiped. Come in today to find your new best friend!</h1><br /><br /><br />
      <h3>7090 N. Oracle Rd, Tucson, AZ 85704</h3>
      <h3>Monday-Friday 9:00AM-5:00PM | Saturday-Sunday 10:00-3:00PM</h3>
      </div>
    </div>
  </div>
</div>


<h2>ADOPTABLE PETS</h2>


<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <h1>Ren</h1>
        <h4>7 years</h4>
          <%= image_tag 'ren1.jpg', class: 'index-image-size' %>
        <h2>Great personality! Very sassy but sweet. Does great with other cats and kids, no dogs.</h2>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
      <h1>Forest</h1>
      <h4>6 months</h4>
      <%= image_tag 'forest.jpg', class: 'index-image-size' %>
      <h2>Super playful, but snuggly when he wears out. Loves to have his belly rubbed and snuggle.</h2>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
      <h1>Tux</h1>
      <h4>6 months</h4>
      <%= image_tag 'Tux.jpg', class: 'index-image-size' %>
      <h2>Super playful. Would do great in a house with young children.</h2>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
      <h1>Princess</h1>
      <h4>4 months</h4>
      <%= image_tag 'Princess.jpg', class: 'index-image-size' %>
      <h2>Very gentle and sweet. Purs constantly.</h2>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
      <h1>Onyx</h1>
      <h4>2 months</h4>
      <%= image_tag 'Onyx.jpg', class: 'index-image-size' %>
      <h2>Found alone. A little feral, but he's warming up each day.</h2>
      </div>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
      <h1>Dot</h1>
      <h4>4 months</h4>
      <%= image_tag 'Dot.jpg', class: 'index-image-size' %>
      <h2>Very sweet girl. Total lap cat. Loves attention.</h2>
      </div>
    </div>
  </div>
</div>

<h5>Kitty City Rescue | 7090 N. Oracle Rd, Tucson, AZ 85704 | (520)747-2643 | kittycity@gmail.com | Monday-Friday 9:00AM-5:00PM | Saturday-Sunday 10:00-3:00PM</h5>

