<!DOCTYPE html>
<html>
  <head>
    <title>Quiz1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class="booyah-box">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-center">
        <div class="header">
          <h1>Kitty City</h1><br />
        </div>
      <h2> Welcome to Kitty City Cat Rescue! We are a non-profit cat rescue in Tucson, Arizona. 
      All of our pets are spayed/neurtered, vaccinated, and microchiped.<br /> Come in today to find your new best friend!</h2><br />
      <%= image_tag 'cat3.jpg', class: 'header-image' %>
      <h4>7090 N. Oracle Rd, Tucson, AZ 85704</h4>
      <h4>Monday-Friday 9:00AM-5:00PM | Saturday-Sunday 10:00-3:00PM</h4>
      </div>
    </div>
  </div>
</div>


    <%= yield %>
  </body>
</html>
